@viewport {
  orientation: portrait;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  background-color: $clr-solid-pink;
  font-size: 62.5%;
  font-family: interstate, sans-serif;
  letter-spacing: 1.2px;
}

// Typography
strong {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: $font-xs-fallback;
  font-size: $font-xs;
  line-height: 1.5;

  @include breakpoint-up(computer) {
    font-size: $font-sm-fallback;
    font-size: $font-sm;
  }
}

h1 {
  font-size: $font-l-fallback;
  font-size: $font-l;
  font-weight: 500;
  margin-bottom: 5rem;

  @include breakpoint-up(computer) {
    font-size: $font-xl-fallback;
    font-size: $font-xl;
  }
}

h2 {
  font-weight: 500;
  font-size: $font-med-fallback;
  font-size: $font-med;
  margin-bottom: 2rem;

  @include breakpoint-up(computer) {
    font-size: 35px;
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
}
h3 {
  font-weight: 500;
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 2rem;

  @include breakpoint-up(computer) {
    margin-bottom: 3rem;
    font-size: $font-med-fallback;
    font-size: $font-med;
  }
}

// Buttons

.cta-secondary {
  background-color: $clr-solid-pink;
  padding: 1.1rem 2.4rem;
  border-radius: 24px;
  color: $clr-dawn-pink;
  width: max-content;
  margin: 0 auto;
  font-size: $font-sm-fallback;
  font-size: $font-sm;

  &--outline {
    color: $clr-dawn-pink;
    border: 2px solid $clr-dawn-pink;
    display: none;
    transition: $transition-200ms;

    &:hover {
      background-color: $clr-dawn-pink;
      color: $clr-text;

      &::before {
        background-image: url("../../images/icons/phone-black.svg");
      }
    }

    @include breakpoint-up(computer) {
      display: flex;
    }
  }

  &::before {
    display: block;
    content: "";
    background-image: url("../../images/icons/phone.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    padding-right: 0.5rem;
  }

  &--white {
    background-color: $clr-dawn-pink;
    color: $clr-text;
    font-weight: 500;
    transition: $transition-200ms;

    &::before {
      background-image: url("../../images/icons/phone-black.svg");
      padding-right: 1rem;
      transition: $transition-200ms;
    }
  }
}

// Spacing
.container {
  max-width: 1400px;
  margin: 0 auto;
  &--pall {
    padding-top: 3rem;
    padding-right: 2.4rem;
    padding-bottom: 3rem;
    padding-left: 2.4rem;

    @include breakpoint-up(computer) {
      padding-top: 5rem;
      padding-bottom: 5rem;
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

  &--py {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include breakpoint-up(computer) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &--px {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  &--section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    @include breakpoint-up(computer) {
      padding-top: 14rem;
      padding-bottom: 14rem;
    }
  }
}

// Flexbox
.flex {
  display: flex;

  &-dr-cl {
    flex-direction: column;
  }
  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-st {
    align-items: flex-start;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(ipad) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(computer) {
    display: none;
  }
}
