@viewport {
  orientation: portrait;
}

html {
  background-color: $clr-solid-pink;
  font-size: 62.5%;
  font-family: interstate, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: $font-xs-fallback;
  font-size: $font-xs;
}

h1 {
  font-size: $font-l-fallback;
  font-size: $font-l;
}

h2 {
  font-size: $font-med-fallback;
  font-size: $font-med;
  @include breakpoint-up(ipad) {
    font-size: 25px;
    font-size: 2.5rem;
  }
}
h3 {
  font-size: $font-sm-fallback;
  font-size: $font-sm;
}

// Spacing
.container {
  max-width: 1400px;
  margin: 0 auto;

  &--pall {
    padding-top: 4.5rem;
    padding-right: 1.5rem;
    padding-bottom: 4.5rem;
    padding-left: 1.5rem;

    @include breakpoint-up(computer) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &--py {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;

    @include breakpoint-up(computer) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &--px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

// Flexbox
.flex {
  display: flex;

  &-dr-cl {
    flex-direction: column;
  }
  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(ipad) {
    display: none;
  }
}

.hide-for-desktop {
  display: none;
  // change me when doing js
  @include breakpoint-up(computer) {
    display: none;
  }
}
