.kontakt {
  background: $clr-dawn-pink;
  text-align: left;

  &__container {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
  }

  &__griditem1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    strong {
      color: $clr-solid-pink;
    }
  }

  &__griditem2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    strong {
      color: $clr-solid-pink;
    }
  }
  &__griditem3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  &__griditem4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  &__bottom {
    margin-bottom: 2em;
  }
}
