.udtalelser {
  background-color: $clr-dawn-pink;
}

.widthcontainer {
  width: 75%;
  position: relative;
}

.linecontainer {
  width: 100%;
  column-gap: 3.4rem;
}

hr {
  background-color: $clr-solid-pink;
  border: 1px solid $clr-solid-pink;
  height: 0px;
  width: 100%;
}

.line {
  width: 100%;
}

.anforsel {
  background-image: url("../../images/quote.svg");
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 75px;
  height: 75px;
}

// .quotation {
//   font-size: 3rem;
// }

.udtalelsercontainer {
  margin-bottom: 2.4rem;
}

.p-udtalelser {
  margin-bottom: 2rem;
}

.p-info {
  font-weight: bold;
}

.arrow {
  font-size: 3rem;
  border: none;
  background-color: $clr-dawn-pink;
  color: $clr-text;
  position: absolute;
  transform: translateY(350%);
}

button:first-of-type {
  left: -45px;
}

button:last-of-type {
  right: -45px;
}
