.udtalelser {
  background-color: $clr-white;
}

.widthcontainer {
  width: 65%;
  position: relative;

  @include breakpoint-up(computer) {
    width: 70%;
  }

  @include breakpoint-up(largeComputer) {
    width: 45%;
  }
}

.linecontainer {
  width: 100%;
  column-gap: 2rem;
  margin-bottom: 2rem;

  @include breakpoint-up(ipad) {
    margin-bottom: 5rem;
  }

  @include breakpoint-up(computer) {
    margin-bottom: 7rem;
  }
}

hr {
  background-color: $clr-solid-pink;
  border: 1px solid $clr-solid-pink;
  height: 0px;
  width: 100%;
}

.line {
  width: 100%;
}

.anforsel {
  background-image: url("../../images/quote.svg");
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}

.udtalelsercontainer {
  margin-bottom: 3.4rem;

  @include breakpoint-up(ipad) {
    margin-bottom: 5rem;
  }

  @include breakpoint-up(computer) {
    margin-bottom: 7rem;
  }
}

.p-udtalelser {
  margin-bottom: 2rem;
  max-width: 100%;

  @include breakpoint-up(ipad) {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 3rem;
  }

  @include breakpoint-up(computer) {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 6rem;
  }

  @include breakpoint-up(largeComputer) {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 6rem;
  }
}

.animation {
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.p-info {
  font-weight: bold;
  max-width: 100%;
}

.arrow {
  font-size: 3rem;
  border: none;
  background: none;
  color: $clr-text;
  position: absolute;
  bottom: 50%;
  cursor: pointer;

  @include breakpoint-up(ipad) {
    font-size: 4rem;
  }

  @include breakpoint-up(computer) {
    font-size: 6rem;
    bottom: 40%;
  }
}

button:first-of-type {
  left: -50px;

  @include breakpoint-up(ipad) {
    left: -60px;
  }
}

button:last-of-type {
  right: -50px;

  @include breakpoint-up(ipad) {
    right: -60px;
  }
}

.hidden {
  display: none;
}
