// Font
$font-xs-fallback: 15px;
$font-xs: 1.5rem;
$font-sm-fallback: 18px;
$font-sm: 1.8rem;
$font-med-fallback: 22px;
$font-med: 2.2rem;
$font-l-fallback: 30px;
$font-l: 3rem;
$font-xl-fallback: 50px;
$font-xl: 5rem;

// Colors
$clr-hippie-blue: #588BAE;
$clr-steel-blue: #4682B4;
$clr-shakespeare: #57A0D3;
$clr-lochmara: #0277BD;
$clr-tory-blue: #0E4D92;

$clr-background:#EBEBE2;
$clr-background-alternative:#EFEFEF;

$clr-maroon-flush: #B62340;