// Font
$font-xs-fallback: 14px;
$font-xs: 1.4rem;
$font-sm-fallback: 18px;
$font-sm: 1.8rem;
$font-med-fallback: 24px;
$font-med: 2.4rem;
$font-l-fallback: 30px;
$font-l: 3rem;
$font-xl-fallback: 50px;
$font-xl: 5rem;

// Colors
$clr-hippie-blue: #588bae;
$clr-steel-blue: #4682b4;
$clr-shakespeare: #57a0d3;
$clr-lochmara: #0277bd;
$clr-tory-blue: #0e4d92;

$clr-solid-pink: #8e3e4e;
$clr-dawn-pink: #faf6f4;
